site_name: SANS Holiday Hack Challenge 2025 Write-up
site_url: https://tominthebytes.github.io/SANS-HHC-2025/
theme:
  name: material
  # custom_dir: overrides
  palette:
    scheme: slate
    primary: custom
    accent: custom
  icon:
    logo: fontawesome/solid/terminal
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
  features:
    - navigation.instant
    - navigation.path
    - navigation.sections
    - search.highlight
    - content.code.copy
    - content.code.annotate
    - content.tooltips
plugins:
  - search
  - glightbox
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  # Python Markdown
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.blocks.caption
  - pymdownx.tasklist:
      custom_checkbox: true
  - md_in_html
  - admonition
  - attr_list
  - footnotes
  - def_list
  - tables
nav:
  - Welcome: index.md
  - Prologue:
      - Holiday Hack Orientation: prologue/holiday_hack_orientation.md
  - Act 1:
      - Blob Storage Challenge in the Neighborhood: act_1/storage_secrets.md
      - Defang: act_1/defang.md
      - Intro to Nmap: act_1/intro_to_nmap.md
      - Neighborhood Watch Bypass: act_1/fire_alarm.md
      - Owner: act_1/owner.md
      - Santa's Gift-Tracking Service Port Mystery: act_1/santas_gift_tracking.md
      - Spare Key: act_1/spare_key.md
      - The Open Door: act_1/the_open_door.md
      - Visual Firewall Thinger: act_1/visual_firewall.md
      - Visual Networking Thinger: act_1/visual_networking.md
  - Act 2:
      - Dosis Network Down: act_2/dosis_network_down.md
      - Rogue Gnome Identity Provider: act_2/gnome_identity.md
  - Act 3:
      - Hack-a-Gnome: act_3/hack_a_gnome.md
